.form {
    display: flex;
    flex-direction: column;
    gap: calc(6/16 * 1rem);
    /* align-items: center; */
}

.form>:is(:not(label)) {
    align-self: center;
}

.form a {
    color: var(--green-primary)
}

.form a:hover {
    text-decoration: underline;
}

.input,
.select,
.checkbox {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    /* width: 100%; */
    /* height: calc(40/16 * 1rem); */
}

:is(.input, .select, .checkbox) span {
    font-size: 1rem;
    line-height: calc(1rem * 19.2/16);
    font-weight: 400;
}

:is(.input, .select) :is(input, select) {
    height: calc(40/16 * 1rem);
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow-1);
    background: transparent;
}

.checkbox {
    flex-direction: row;
    column-gap: .5rem;
    /* align-items: center; */
}

.button {}

.buttonSecondary {}