.back,
.logoSmall,
.google,
.facebook {
    width: calc(1rem * 35/16);
    height: calc(1rem * 35/16);
}

.star {
    fill: var(--grey);
    width: .5rem;
}

.logo {
    width: 167px;
}

.profile {
    fill: grey;
    width: calc(1rem * 20/16);
}

.back,
.logoSmall {
    fill: var(--green-primary);
}

.google {
    fill: var(--google-primary);
}

.facebook {
    fill: var(--facebook-primary);
}

.button,
.buttonSecondary {
    /* NOTE in order to style both a link tag and a button this is required */
    display: grid;
    /* NOTE in order to style both a link tag and a button this is required */
    align-items: center;
    /* NOTE in order to style both a link tag and a button this is required */
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    height: 60px;
    width: 100%;
    color: var(--white);
    font-size: calc(30/16 * 1rem);
    line-height: calc(36/16 * 1rem);
    background: var(--gradient-1);
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow-1);
}

.buttonSecondary {
    background: var(--white);
    color: var(--green-primary);
    border: .25rem solid var(--green-primary);
    box-shadow: none;
}

.buttonWarning {
    color: var(--red-primary);
    border-color: var(--red-primary);
}