@import url('../assets/styles/reset.css');

@import url('../assets/styles/base.css');
@import url('../assets/styles/nav.css');
@import url('../assets/styles/form.css');


main {
    flex-grow: 1;
}

.search {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 24px;
    padding: 0 16px;
}