@import url('../assets/styles/base.css');
@import url('../assets/styles/form.css');

.oauth {
    font-weight: 400;
    text-align: center;
    font-size: medium;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 12px;
    margin: 0 auto;
}

.oauth>svg {
    --icon-width: 30px;

    width: var(--icon-width);
    height: var(--icon-width);
}

.icon--google {
    color: #de5246;
}


.icon--facebook {
    color: #3b5998;
}