.banner {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    --width: 50px;
}

.card {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card img {
    --width: 20px;
}

.card .meta {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card .action {
    display: flex;
    gap: 16px;
}

.card .action button {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.rating {
    display: flex;
    gap: 2px;
}

.rating svg {
    --width: 8px;
}

.menu {
    display: flex;
    justify-content: space-between;
    grid-auto-flow: column;
    column-gap: 16px;
    padding: 16px 32px;
}

.menu :where(img, svg) {
    --width: 35px;

    cursor: pointer;
}