.nav {
    --width: calc(1rem * 35/16);

    display: flex;
    justify-content: space-between;
    padding: calc(1rem * 18/16) 2rem;
}

.link,
.linkActive {
    width: var(--width);
    height: var(--width);

    fill: var(--grey);
}

.linkActive {
    fill: var(--green-primary)
}