.primary,
.secondary,
.caution {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    height: 60px;

    border-radius: 10px;

    height: 53px;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

:is(.primary, .secondary, .caution) svg {
    --width: 30px;
}

.primary {
    color: var(--white);
    background: var(--gradient-1);
    box-shadow: var(--drop-shadow-1);
}

.primary svg {
    fill: var(--white);
}

.secondary,
.caution {
    border-width: 3px;
    border-style: solid;
}

.secondary {
    color: var(--green-primary);
    background: var(--white);
    border-color: var(--green-primary);
}

.secondary svg {
    fill: var(--green-primary);
}

.caution {
    color: var(--red-primary);
    background: var(--white);
    border-color: var(--red-primary);
}

.caution svg {
    fill: var(--red-primary);
}