.green {
    fill: var(--green-primary)
}

.grey {
    fill: var(--grey)
}

.active,
.inactive {
    height: 35px;
    width: 35px;
}

.active {
    composes: green;
}

.inactive {
    composes: grey;
}

.logo {
    width: 170px;
}

.facebook,
.google {
    height: 33px;
    width: 33px;
}

.google {
    fill: var(--google-primary);
}

.facebook {
    fill: var(--facebook-primary);
}

.active,
.inactive {
    cursor: pointer;
}

.logo {
    margin: auto auto;
}