.product__card {
    width: inherit;
    display: flex;
    background: #ffffff;
    border: 1px solid gray;
    margin: 10px 0;
}

.product__title {
    font-weight: 700;
    font-size: large;
    text-align: left;
}

.product__thumbnail {
    --thumbnail-width: 100px;

    width: var(--thumbnail-width);
    height: var(--thumbnail-width);
    object-fit: cover;
}

.product__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0.5rem;
}

.product__info {
    display: flex;
    gap: 1rem;
}