.article {
    /* color: red; */
}

.article .title {
    font-weight: 600;
    font-size: 2rem;
    line-height: calc(1rem * 38/16);
    text-transform: capitalize;
}

.articleCard .thumbnail {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

.description {}

.collection {
    display: grid;
    gap: 1rem;
}

.card {
    height: calc(1rem * 100/16);
    display: flex;
    background: var(--white);
    box-shadow: var(--drop-shadow-1);
}

.title {
    font-weight: 700;
    font-size: large;
    text-align: left;

    font-weight: 600;
    font-size: calc(15/16 * 1rem);
    line-height: calc(18/16 * 1rem);
    text-transform: capitalize;
}

.thumbnail {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    padding: 0.5rem;
}

.stats {
    display: flex;
    gap: 1rem;
    font-weight: 400;
    font-size: calc(13/16 * 1rem);
    line-height: 1rem;
}

.article .stats {
    /*  */
}

.statItem:first-child {
    text-transform: capitalize;
    flex-grow: 1;
    display: flex;
    gap: calc(1rem * 8/16);
}

.statItem:first-child::before {
    display: inline-block;
    content: url('../assets/icons/location.svg');
}

/* souce: https://www.designcise.com/web/tutorial/how-to-add-space-before-or-after-an-element-using-css-pseudo-elements */