@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Cookie&display=swap");
/* @import url('./assets/styles/base.css'); */
/* @import url('./assets/styles/form.css'); */
@import url("../src/assets/styles/reset.css");

/* NOTE for debugging CSS styling */
* {
    background: rgba(255, 0, 255, 0.05);
}

:root {
    /* fill="#D9D9D9" not active */
    --grey: #d9d9d9;
    /* fill="#AFAFAF" */
    --white: #f6faf9;
    --black: #0c0c20;
    --red-primary: #DE5246;
    --green-secondary: #52b69a;
    --green-primary: #76c893;
    --orange-primary: #ffa92c;
    --orange-secondary: #ffc570;

    --google-primary: #de5246;
    --facebook-primary: #3b5998;

    --drop-shadow-1: 0px 4px 14px rgba(0, 0, 0, 0.1);
    --drop-shadow-2: 0px 4px 14px rgba(0, 0, 0, 0.1);
    --drop-shadow-3: 0px 4px 14px rgba(0, 0, 0, 0.1);

    --gradient-1: linear-gradient(90deg, var(--green-primary) 0%, var(--green-secondary) 100%);

    --font-size-56: 56px;

    /* 33/16 rem */
    --icon-width: calc(33/16 * 1rem);

    --border-radius: calc(10/16 * 1rem);

    font-family: "Barlow", sans-serif;
    width: 390px;
    height: 100%;
    overflow-wrap: break-word;
    hyphens: manual;
    background: var(--white);

    /* NOTE this centers #app */
    margin: 0 auto;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;

    font-size: 1rem;
    line-height: calc(1rem * 19.2/16);
    font-weight: 400;
}

#app>main {
    flex-grow: 1;
}