.form {
    display: flex;
    flex-direction: column;
    gap: calc(6/16 * 1rem);
    align-items: center;
}

.form a {
    color: var(--green-primary);
}

.form a:hover {
    color: var(--green-primary);
    text-decoration: underline;
}

.form [class*=control] {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

.form [class*=title] {
    font-size: 1rem;
    line-height: calc(1rem * 19.2/16);
    font-weight: 400;
}

[class*=control] :is(input, select) {
    height: calc(40/16 * 1rem);
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow-1);
}

[class*=control][class*=checkbox] {
    flex-direction: row;
    align-items: center;
    column-gap: .5rem;
    /* height: 30px; */
}

select {
    /* NOTE how shall we go about styling this */
    padding-left: 16px;
    background: #fff;
}

/* source: https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type=checkbox] {
    background-color: red !important;
    border-color: magenta !important;
}