.header {
    flex-grow: 0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    padding: 16px 32px;
}

@container (min-height: 100px) {
    .header {
        display: flex;
    }
}